* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* section styles */

.HUD-section {
width: auto;
}

.map-section{
height: auto;
}

/* HUD element Styles */

.HUD-flex {
  display: flex;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.high-score {
    align-items: center;
    font-size: 16px;
}

.start-button {
  background-color: rgb(226, 247, 241);
  width: 120px;
  height: 60px;
  color: rgb(255, 0, 0);
  border: 1px solid rgb(194, 146, 146);
  font-family: fantasy;
  font-size: 20px;
}

/* map element styles */

.map{
    box-sizing: content-box;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
.apple{
  background-color: red;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 0;
}

.snake-unit{
    width:20px ;
    height: 20px;
    position: absolute;
    background-color: black;
    z-index: 1;
    left: 100px;
    top: 100px;
}